<!DOCTYPE html>
<html>
<head>
  <title>CN Challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">
  <link href="css/reset.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <script>
    <%- initialState %>
  </script>

  <div class="artist-block parent-block"></div>
  <div class="top-tracks-block parent-block"></div>
  <div class="related-artists-block parent-block"></div>

  <script src='js/request.js'></script>
  <script src='js/app.js'></script>
</body>
</html>