<!DOCTYPE html>
<html>
<head>
  <title>CN Challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <script>
    <%- initialState %>
  </script>
  <h1>Hello World</h1>
  <script src='app.js'></script>
</body>
</html>