html, body {
  width: 100%;
  background-color: #1c1c1f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.parent-block {
  display: inline-block;
  height: 600px;
}

.parent-block * {
  animation: fadeIn 0.5s ease-in-out;
}

.block-label {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

.rect-button {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85em;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

/* Artist Block */
.artist-block {
  padding: 20px;
  vertical-align: top;
  overflow: hidden;
}

.artist-image {
  display: block;
  width: 400px;
  height: 400px;
  margin-right: 20px;
  box-shadow: 0px 0px 6px #88898c;
}

.artist-full-name {
  display: block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #88898c;
  margin: 10px;
}

.artist-followers {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85em;
  color: #fff;
  margin: 0 20px 0 10px;
}

.spotify-link {
  background-color: #008000;
}

/* Top Tracks BLock */
.top-tracks-block {
  width: 36vw;
  margin: 0 20px;
  vertical-align: top;
  overflow: hidden;
}

.top-tracks-list {
  margin: 10px 0;
}

.top-tracks-list li {
  overflow: hidden;
  margin: 25px 0;
  text-align: center;
}

.track-name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #fff;
}

.play-preview {
  background-color: #880c88;
}

.song-preview {
  display: block;
  margin: 0 auto;
}

/*Related Block*/
.related-artists-block {
  width: 28vw;
  overflow: hidden;
  text-align: center;
}

.related-artists-list {
  text-align: center;
  height: calc(100% - 50px);
  overflow: scroll;
}

.related-artist {
  margin: 30px 0;
}

.related-artist-link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.related-artist-thumbnail {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.related-artist-name {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85em;
  color: #fff;
  margin: 10px auto;
}

.see-artist {
  background-color: #5b5bef;
}

@media only screen and (min-width: 319px) and (max-width: 736px) {
  .parent-block {
    height: 100%;
    width: 100%;
  }

  .rect-button {
    display: block;
    margin: 10px auto;
    width: 100px;
    text-align: center;
  }

  .artist-full-name {
    margin: 10px 0;
    text-align: center;
  }

  .artist-followers {
    display: block;
    text-align: center;
  }

  .artist-image {
    width: 100%;
    height: auto;
  }

  .track-name, .preview-audio {
    display: block;
    width: 100%;
    float: none;
    margin: 10px 0;
  }
}