html, body {
  width: 100%;
  background-color: #1c1c1f;
}

.parent-block {
  display: inline-block;
  height: 600px;
}

.block-label {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

/* Artist Block */
.artist-block {
  padding: 20px;
  vertical-align: top;
  overflow: hidden;
}

.artist-image {
  display: block;
  width: 400px;
  height: 400px;
  margin-right: 20px;
  box-shadow: 0px 0px 6px #88898c;
}

.artist-full-name {
  display: block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #88898c;
  margin: 10px;
}

.artist-followers {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85em;
  color: #fff;
  margin: 0 20px 0 10px;
}

.artist-spotify-link {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85em;
  color: #fff;
  padding: 10px;
  background-color: #008000;
  border-radius: 50%;
  text-decoration: none;
}
/* end Artist Block */

/* Top Tracks BLock */
.top-tracks-block {
  margin: 0 20px;
  vertical-align: top;
  overflow: hidden;
}

.top-tracks-list {
  margin: 10px 0;
}

.top-tracks-list li {
  overflow: hidden;
  margin: 25px 0;
}

.track-name {
  float: left;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  color: #fff;
}

.preview-audio {
  float: right;
  background-color: #008000;
  border: 0px none transparent;
}
/*end Top Tracks Block*/

/*Related Block*/
.related-artists-block {
  overflow: scroll;
}

.related-artist {
  margin: 30px 0;
}

.related-artist-link {
  display: inline-block;
  vertical-align: middle;
}

.related-artist-thumbnail {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
